.body{
  background-color: rgb(253, 251, 251);
  font-family: montserrat, sans sans-serif;
  font-size: 14px; margin: auto;}

#cabecalho{
  background-color: #ffffff;
  background-size: cover;
  color: #505050;
  position: fixed;
  top: 0;
  padding: 10px 450px;
  border: 2px solid #505050;}

.image-foto{
    margin-top: 250px}

#minha_foto{
  width: 200px;
  border: 2px solid #505050;
  border-radius: 50%;}
  
  .licoes{
    display: inline;
  }

.licoes_aprendidas{
  background-color: #ffffff;
  color:#505050;
  line-height: 25px;
  width: 45%;
  padding: 15px;
  border: 2px solid #505050;
  margin-bottom: 20px;
  min-height: 350px;
  float: right;
}

.licoes_a_aprender{
  background-color: #ffffff;
  color:#505050;
  line-height: 25px;
  width: 45%;
  border: 2px solid #505050;
  margin-bottom: 20px;
  padding: 15px;
  min-height: 350px;
  float: left;
}

.article_aprendizado{
  background-color: #ffffff;
  color:#505050;
  line-height: 25px;
  border: 2px solid #505050;
  width: 45%;
  margin-bottom: 20px;
  padding: 15px;
  float: left;
  min-height: 250px;
}

.meu_sentimento{
  background-color: #ffffff;
  color:#505050;
  line-height: 25px;
  border: 2px solid #505050;
  width: 45%;
  margin-bottom: 20px;
  padding: 15px;
  float: right;
  min-height: 250px;
}

#rodape{
  text-align: center;
  margin-bottom: 20px;
  clear: both;
}
