.body{
  background-color: rgb(253, 251, 251);
  font-family: montserrat, sans sans-serif;
}

#cabecalho{
  background-color: gray;
  top: 0;
}
#titulo{
}

#minha_foto{
  width: 300px;
}

#licoes_aprendidas{

}
#licoes_a_aprender{

}
