.body{
  background-color: rgb(253, 251, 251);
  font-family: montserrat, sans sans-serif;
  font-size: 14px;
}

#cabecalho{
  background-color: gray;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
  padding: 10px 450px;
}


#minha_foto{
  width: 200px;
  margin-top: 260px;
}

.licoes_aprendidas{
  background-color: gray;
  color: white;
  line-height: 25px;
  height: 300px;
  width: 33%;

}
.licoes_a_aprender{
  background-color: gray;
  color: white;
  line-height: 25px;
  height: 300px;
  width: 33%;
}
.article_aprendizado{
  background-color: gray;
  color: white;
  line-height: 25px;

}

.meu_sentimento{
  background-color: gray;
  color: white;
  line-height: 25px;
}

